Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [5]:
def is_symmetrical(l):
    #convert in string
    l1=str(l)
    #convert to list
    l1=list(l1)
    #reverse the string
    l1.reverse()
    # and  remove commas
    l1=''.join(l1)
    
    if int(l1)==int(l):
        return True
    return False

print(is_symmetrical(7227))  
print(is_symmetrical(12567)) 
print(is_symmetrical(4444444)) 
print(is_symmetrical(9939)) 
print(is_symmetrical(1112111))

True
False
True
False
True

In [6]:
def is_symm(string):
    if string==string[::-1]:
        return True
    return False

print(is_symmetrical(7227))  
print(is_symmetrical(12567)) 
print(is_symmetrical(4444444)) 
print(is_symmetrical(9939)) 
print(is_symmetrical(1112111))

True
False
True
False
True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [58]:
def prod(l):
    product=1
    for i in l:
        product*=i
    return product

print(prod((2,3)))
print(prod((1,2,3,4)))
print(prod((54,75,453,0)))
print(prod((10,-2)))

6
24
0
-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414

In [97]:
def square(num):
    z=''.join(str(int(i)**2) for i in str(num))
    return z
print(square(9119))
print(square(2483))
print(square(3212))

811181
416649
9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [2]:
def setify(l):
    l1=[]
    for i in l:
        if i not in l1:
            l1.append(i)
    l1.sort()
    return l1
print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [19]:
def mean(num):
    string=str(num)
    l=len(string)
    sum1=0
    for i in string:
        sum1=sum1+int(i)
    mean=sum1/l
    return int(mean)

print(mean(42))
print(mean(12345))
print(mean(666))

3
3
6